* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h1 {
  text-align: center;
}

.popisek {
  text-align: center;
}
.logo {
  display: block;
  margin: auto;
}

.titulek {
  text-align: center;
}

body {
  background-color: #ffefef;
}

.kontejner {
  background-color: white;
  display: block;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  font-weight: 300;
}

.obrazky {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.nabidka {
  width: 33.3%;
  height: 33.3%;
  padding-left: 15px;
}

.texty {
  display: flex;
}

.sloupec {
  width: 50%;
  padding: 15px;
}
